.content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.userOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* margin-right:  */
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    border: 1px solid purple;
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
}

.cell {
    width: 100%;
    height: 100%;
}